.custom-captcha-box {
    width: 277px;
    height: 69px;
    background-color: #333333;
    border: 1px solid white;
    border-radius: 4px;
}
.custom-container {
    display: flex;
    height: 100%;
    align-items: center;
}
.custom-human-txt {
    color: white;
    margin-left: 20px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 14px;
}
.custom-check-box {
    width: 29px;
    height: 29px;
    background-color: white;
    border: none;
    border-radius: 3px;
    margin-left: 15px;
}
.custom-hcaptcha-img {
    margin-left: 75px;
}
.custom-captcha-box:hover {
    cursor: pointer;
}

.popup {
    visibility: hidden;
}
.shadow-covered {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}
.connecting-box {
    background-color: white;
    border-radius: 5px;
    height: 200px;
    width: 510px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    padding: 20px;
    z-index: 11;
}
.connecting-header {
    font-size: 28px;
    font-weight:600;
    color: #545454;
    padding-top: -10px;
}
.connecting-info {
    font-size: 18px;
    padding-top: 10px;
}
.connecting-loading {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-top: 15px;
}
