.link[data-v-2630c75c] {
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
    }
    .link[data-v-2630c75c]:hover {
    --tw-text-opacity: 1;
    color: rgba(209, 213, 219, var(--tw-text-opacity))
    }
    .hover-state[data-v-2630c75c]:hover {
    background-color: #181818
    }
    .tooltip[data-v-2630c75c] {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #101010
    }
    .tooltip .tooltiptext[data-v-2630c75c] {
    visibility: hidden;
    width: 250px;
    background-color: #101010;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
    z-index: 1
    }
    .tooltip:hover .tooltiptext[data-v-2630c75c] {
    visibility: visible
    }
    .tooltip .tooltiptext[data-v-2630c75c] {
    top: 15px;
    right: 108%
    }
    .border {
    border-color: pink
    }
    .Banner {
    margin-left: auto;
    margin-right: auto
    }
